.about-me {
  height: 65vh;
  background-color: red;
  display: grid;
  grid-template-columns: 40px 50px auto 50px 40px;
  grid-template-rows: 25% 100px auto;
  justify-content: stretch;
}
.about-me__heading {
  grid-column-start: 1;
  grid-column-end: span 5;
  grid-row-start: 1;
  grid-row-end: 1;
  background-color: orange;
}
.about-me__body {
  background: blue;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: span 3;
}
