.about-me {
  height: 65vh;
  background-color: red;
  display: grid;
  grid-template-columns: 40px 50px auto 50px 40px  ;
  grid-template-rows: 25% 100px auto;
  
}
.about-me__heading {
  
  background-color: orange;
}
.about-me__body {
background: blue;


}