.about-me {
  background-color: red;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 9rem 100% auto repeat(5, 10px);
  
}
.about-me__heading {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: orange;
}
.about-me__body {
background: blue;

}