@import url('https://fonts.googleapis.com/css?family=Exo:900&display=swap');
.menu-page {
  color: black;
  position: fixed;
  top: 0px;
  z-index: 2;
  width: 100vw;
  height: 100%;
}

.top-background {
  background: #c8a05e;
  height: 50vh;
  font-family: 'Exo', 'sans-serif'

}

.bottom-background {
  background: #e29518;
  height: 50vh;
  
}
.menu-items {
  color: white;
  display: grid;
  justify-content: end;
  padding-top: 13vh;
  padding-right: 10%;
}
.menu-items__home, .menu-items__projects, .menu-items__about, .menu-items__contact-me {
  color: white;
  padding-bottom: 2em;
  padding-right: 1em;
}
.initials-menu {
  display: grid;
  justify-content: start;
  grid-template-columns: 2rem 1rem;
}
.initials-menu > h1 {
  color: white;
  font-family: 'Exo', 'sans-serif';
  font-size: 23em;
  display: absolute;
  border: 2px solid orange;
  line-height: 0.9em;
 
}