@import url('https://fonts.googleapis.com/css?family=Exo:900&display=swap');
.display-none {
  display: none;
}
/* holds the Logo and burger menu even tho positions are absolute */
.header-body {
  position: fixed;
  background: none;
  padding-top: 20px;
  padding-bottom: 10px;
  width: 100vw;
}

.header-name {
  position: absolute;
  text-align: center;
  color: white;
  font-family: "Indie Flower", cursive;
  font-size: 3em;
  width: 60px;
  height: 60px;
  align-content: right;
  background: #1ba0cb;
  top: 0px;
  left: 10vw;
}
/* The TG in Blue Box */
.initials {
  position: relative;
  font-size: 1.7rem;
  top: 25px;
  left: 8px;
  font-family: 'Exo', sans-serif;
  letter-spacing: 1px;
}


