.port-body {
  box-sizing: border-box;
  height: inherit;
  padding-top: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      rgba(20, 20, 20, 0.5),
      rgba(20, 20, 20, 0.5)
    ),
    url("./Media/jj-jordan-j4HF-tMscQQ-unsplash.jpg");
  top: 40vh;
}
.burger-menu {
  position: fixed;
  right: 10%;
  top: 3%;
}
/* set default styles for elements h1 h2 h3 etc. */
.port-body h1 {
  color: white;
  font-weight: bold;
}
.port-body h3 {
  color: white;
}
/* set default styles for elements h1 h2 h3 etc. */


.projects {
  color: white;
}
