.port-body {
  border: blue 2px solid;
  height: inherit;
  padding-top: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
                     rgba(20,20,20, .5), 
                     rgba(20,20,20, .5)),
                     url('./Media/jj-jordan-j4HF-tMscQQ-unsplash.jpg');
}

.word-wrap {
  color: white;
}

.social-media {
  color: white;
}

.social-media > *{
  border: white solid 1px;
  border-radius: 50%;
  margin: 20px;
  padding: 15px;
}

.projects {

}