 .projects {
  display: grid;
  grid-template-columns: 50vw;
  grid-template-rows: 23vh 23vh 23vh;
  justify-content: center;
}
.projects__project1, .projects__project2, .projects__project3 {
  background-color: #c58e34;
  margin-bottom: 10px;
  color: white;
}

.projects__project1 > a, .projects__project2 > a, .projects__project3 > a {
  display: block;
  height: 100%;
}

.projects__project1 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./Media/react-resort.png");
}
.projects__project2 {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./Media/rps-hero.png");
}